* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('imagini/background.jpg');
  background-repeat: no-repeat;
  display: block;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: Verdana;
  font-size: 16px;
  font-weight: normal;
}

p {                      
  line-height: 1.3;
}

a {                    
  color: black;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

a:hover {                                   
  color: white;
  text-decoration: none;
}

.verif {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
  font-family: verdana;
  font-size: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5 );
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #3ea69f;
}

.verif:hover {
  background-color: #000000;
  border: 1px solid #000000;
}

@media only screen and (max-height: 656px) {

.pas {
  margin: auto;
  width: 20%;
  text-align: center;
  margin-top: 5%;
  background-color: rgba(131, 188, 185, 0.7 );
  border: 1px solid #3ea69f;
  border-radius: 25px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

button { 
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-color: blue;
  border: none;
  font-weight: bold;
  font-family: verdana;
  padding: 4%;
}

.button1 {
  margin-top: 8.5%;
  font-size: 24px;
  color: black;
  padding: 5px;
  height: 50px;
  border: 2px solid #206b66;
  background-color: rgba(255, 255, 255, 0.3 );
  border-radius: 22px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

.button1:hover {
  background-color: #3ea69f;
  border: 2px solid #3ea69f;
  color: white;
}

.button2{
  font-size: 20px;
  border-radius: 10px;
  background: none;
  color: black;
}

.button2:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}

.button3{
  font-size: 20px;
  background: none;
  color: black;
}

.button3:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}

.button4{
  font-size: 20px;
  background: none;
  color: black;
}

.button4:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}

.button5{
  font-size: 20px;
  background: none;
  color: black;
}

.button5:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}

.button6{
  font-size: 20px;
  background: none;
  color: black;
}

.button6:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}
}






@media only screen and (height: 657px) and (width: 1366px) {

.pas{
  margin-top: 3.8%;
}

button { 
  padding: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-color: blue;
  display: inline-block;
  height: 50px;
  border: none;
  font-weight: bold;
  font-family: verdana;
}

.button1 {
  margin-top: 12%;
  font-size: 24px;
  color: black; 
  border: 2px solid #206b66;
  background-color: rgba(255, 255, 255, 0.3 );
  border-radius: 22px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

.button1:hover {
  background-color: #3ea69f;
  border: 2px solid #3ea69f;
  color: white;
}

.button2{
  margin-left: 19%;
  font-size: 20px;
  border-radius: 80px;
  background: none;
  color: black;
  height: 137.5px;
  width: 157px;
}

/*.button2:hover {
  background-color: #3ea69f;
  border-radius: 80px;
  border: 2px solid black;
  box-shadow: 7px 3px 7px 7px rgba(0, 0, 0, 0.5);
}*/

.button3{
  margin-left: 7.1%;
  font-size: 20px;
  border-radius: 80px;
  background: none;
  color: black;
  height: 140px;
  width: 162px;
}
/*
.button3:hover {
  background-color: #3ea69f;
  border-radius: 80px;
  border: 2px solid black;
  box-shadow: 2px 2px 6px 8px rgba(0, 0, 0, 0.5);
}*/

.button4{
  font-size: 20px;
  background: none;
  border-radius: 80px;
  color: black;
  height: 140px;
  width: 164px;
}
/*
.button4:hover {
  background-color: #3ea69f;
  border-radius: 80px;
  border: 2px solid black;
  box-shadow: 2px 2px 6px 8px rgba(0, 0, 0, 0.5);
}
*/
.button5{
  font-size: 20px;
  background: none;
  color: black;
  height: 141.5px;
  width: 166px;
  border-radius: 80px;
}
/*
.button5:hover {
  background-color: #3ea69f;
  border-radius: 80px;
  border: 2px solid black;
  box-shadow: 2px 2px 6px 8px rgba(0, 0, 0, 0.5);
}
*/
.button6{
  font-size: 20px;
  background: none;
  color: black;
  height: 143px;
  width: 171px;
}
/*
.button6:hover {
  background-color: #3ea69f;
  border-radius: 80px;
  border: 2px solid black;
  box-shadow: 7px 3px 7px 7px rgba(0, 0, 0, 0.5);
}*/
}

@media only screen and (height: 657px) and (width: 1280px) {

.pas{
  margin-top: 3.8%;
}

button { 
  padding: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-color: blue;
  display: inline-block;
  height: 50px;
  border: none;
  font-weight: bold;
  font-family: verdana;
}

.button1 {
  margin-top: 12.7%;
  font-size: 24px;
  color: black; 
  border: 2px solid #206b66;
  background-color: rgba(255, 255, 255, 0.3 );
  border-radius: 22px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

.button1:hover {
  background-color: #3ea69f;
  border: 2px solid #3ea69f;
  color: white;
}

.button2{
  margin-left: 19%;
  font-size: 18px;
  border-radius: 80px;
  background: none;
  color: black;
  height: 137.5px;
  width: 157px;
}

.button3{
  margin-left: 5.7%;
  font-size: 18px;
  border-radius: 80px;
  background: none;
  color: black;
  height: 140px;
  width: 160px;
}

.button4{
  font-size: 18px;
  background: none;
  border-radius: 80px;
  color: black;
  height: 140px;
  width: 150px;
}

.button5{
  font-size: 18px;
  background: none;
  color: black;
  height: 141.5px;
  width: 155px;
  border-radius: 80px;
}

.button6{
  font-size: 20px;
  background: none;
  color: black;
  height: 143px;
  width: 158px;
}
}




@media only screen and (min-height: 658px) {

.pas {
  margin: auto;
  width: 20%;
  text-align: center;
  margin-top: 5%;
  background-color: rgba(131, 188, 185, 0.7 );
  border: 1px solid #3ea69f;
  border-radius: 25px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

button { 
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-color: blue;
  border: none;
  font-weight: bold;
  font-family: verdana;
  padding: 4%;
}

.button1 {
  margin-top: 8.5%;
  font-size: 24px;
  color: black;
  padding: 5px;
  height: 50px;
  border: 2px solid #206b66;
  background-color: rgba(255, 255, 255, 0.3 );
  border-radius: 22px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

.button1:hover {
  background-color: #3ea69f;
  border: 2px solid #3ea69f;
  color: white;
}

.button2{
  font-size: 20px;
  border-radius: 10px;
  background: none;
  color: black;
}

.button2:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}

.button3{
  font-size: 20px;
  background: none;
  color: black;
}

.button3:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}

.button4{
  font-size: 20px;
  background: none;
  color: black;
}

.button4:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}

.button5{
  font-size: 20px;
  background: none;
  color: black;
}

.button5:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}

.button6{
  font-size: 20px;
  background: none;
  color: black;
}

.button6:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}
}

@media only screen and (max-width: 1279px) {

.pas {
  margin: auto;
  width: 20%;
  text-align: center;
  margin-top: 5%;
  background-color: rgba(131, 188, 185, 0.7 );
  border: 1px solid #3ea69f;
  border-radius: 25px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

button { 
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-color: blue;
  border: none;
  font-weight: bold;
  font-family: verdana;
  padding: 4%;
}

.button1 {
  margin-top: 8.5%;
  font-size: 24px;
  color: black;
  padding: 5px;
  height: 50px;
  border: 2px solid #206b66;
  background-color: rgba(255, 255, 255, 0.3 );
  border-radius: 22px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

.button1:hover {
  background-color: #3ea69f;
  border: 2px solid #3ea69f;
  color: white;
}

.button2{
  font-size: 20px;
  border-radius: 10px;
  background: none;
  color: black;
}

.button2:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}

.button3{
  font-size: 20px;
  background: none;
  color: black;
}

.button3:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}

.button4{
  font-size: 20px;
  background: none;
  color: black;
}

.button4:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}

.button5{
  font-size: 20px;
  background: none;
  color: black;
}

.button5:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}

.button6{
  font-size: 20px;
  background: none;
  color: black;
}

.button6:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}
}

@media only screen and (width: 1360px) {

.pas {
  margin: auto;
  width: 20%;
  text-align: center;
  margin-top: 5%;
  background-color: rgba(131, 188, 185, 0.7 );
  border: 1px solid #3ea69f;
  border-radius: 25px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

button { 
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-color: blue;
  border: none;
  font-weight: bold;
  font-family: verdana;
  padding: 4%;
}

.button1 {
  margin-top: 8.5%;
  font-size: 24px;
  color: black;
  padding: 5px;
  height: 50px;
  border: 2px solid #206b66;
  background-color: rgba(255, 255, 255, 0.3 );
  border-radius: 22px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

.button1:hover {
  background-color: #3ea69f;
  border: 2px solid #3ea69f;
  color: white;
}

.button2{
  font-size: 20px;
  border-radius: 10px;
  background: none;
  color: black;
}

.button2:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}

.button3{
  font-size: 20px;
  background: none;
  color: black;
}

.button3:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}

.button4{
  font-size: 20px;
  background: none;
  color: black;
}

.button4:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}

.button5{
  font-size: 20px;
  background: none;
  color: black;
}

.button5:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}

.button6{
  font-size: 20px;
  background: none;
  color: black;
}

.button6:hover {
  background-color: #3ea69f;
  border-radius: 50px;
  border: none;
  width: 100%;
}
}